.dashboard{
    display:grid;
    grid-template-columns:1fr 420px;

    gap:20px;

    padding:20px;

    height:calc(100vh - 70px);

    background:#f4f6fb;
}

.left-panel{

    background:white;

    border-radius:12px;

    padding:25px;

    overflow:auto;

}

.right-panel{

    background:white;

    border-radius:12px;

    overflow:hidden;

}